.container {
  position: relative;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color .3s ease;

  &:not(.selected):not(.highlighted):hover {
    .checkmark {
      background-color: #AF1209;
    }
  }

  &:not(.selected):hover {
    background-color: #BED5EF;
  }
}

.withoutLabel {
  padding: 0 !important;
  background: transparent !important;
}

.selected {
  background-color: #1470DA;

  .label {
    color: #fff;
  }

  .checkmark {
    background-color: #fff;

    &:after {
      background-color: transparent;
    }

    &:before {
      background-color: #1470DA;
    }
  }
}

.highlighted:not(.selected) {
  background-color: #fff;

  .label {
    color: #000;
  }

  .checkmark {
    background-color: #1470DA;

    &:after, &:before {
      background-color: #fff;
    }
  }
}

.input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: relative;
  height: 16px;
  width: 16px;
  display: flex;
  border-radius: 4px;
  background-color: #E63C32;
  transition: background-color .3s ease;

  &:before, &:after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color .3s ease, opacity .3s ease;
  }

  &:after {
    z-index: 1;
    width: 2px;
    height: 8px;
  }
}

.label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: color .3s ease;
}
