.title {
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 16px;
}

.description {
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 16px;
}

.characteristics {
	&__titles {
		opacity: 40%;
		font-size: 15px;
		font-weight: 600;
		text-align: left;
		border-bottom: 1px solid #92b0d2;
		padding-bottom: 8px;
		display: grid;
		grid-template-columns: 1fr 2fr;
	}

	&__values {
		display: flex;
		align-items: flex-start;
		padding: 8px 0;
		display: grid;
		grid-template-columns: 1fr 2fr;

		&:not(:last-child) {
			border-bottom: 1px solid #deebfa;
		}
	}
}

.first-column {
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	text-align: left;
}

.second-column {
	font-size: 15px;
	font-weight: 400;
	text-align: left;
}
