.title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
}

.description {
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

.file {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 25px 32px;
  border: 1px solid #92B0D2;
  border-radius: 16px;
}

.fileTitle {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
}

.fileName {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  opacity: .4;
}

.actions {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
