.wrapper {
    position: relative;
}

.badge {
    position: absolute;
    top: -4px;
    left: -8px;
    padding: 2px 4px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    background-color: #E63C32;
    border-radius: 7px;
}
