.wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 16px;

  @media (max-width: 768px) {
    grid-template-rows: auto 1fr auto auto;
  }
}

.mainView {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100vw;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.header {
  position: absolute;
  left: 40px;
  top: 40px;

  @media (max-width: 1440px) {
    top: 0;
  }

  @media (max-width: 768px) {
    position: relative;
    left: 0;
    padding-left: 20px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__name {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.4;
  }

  &__serie {
    font-size: 24px;
    font-weight: 600;
  }
}

.actions {
  position: absolute;
  right: 40px;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (max-width: 1440px) {
    top: 0;
  }

  @media (max-width: 768px) {
    position: relative;
    top: 0;
    right: auto;
    padding: 0 20px;
    flex-direction: row;
    justify-content: center;
  }

  &Button {
    span {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.hideMobile {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.hideTablet {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.checkboxWrapper {
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-wrapper {
  position: relative;
  margin-top: 40px;
  aspect-ratio: 1 / 1;

  @media (max-width: 1440px) {
    margin-top: 0;
  }
}

.accessoriesHint {
  padding: 5px 12px !important;
  border-radius: 8px;
  white-space: nowrap;
  background-color: #fff;
  box-shadow: 0 8px 32px -8px #00000052;
}
