.wrapper {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  max-width: 600px;
  background-color: #f5f8fb;

  @media (max-width: 1440px) {
    max-width: 100%;
    padding-bottom: 84px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    padding-bottom: 100px;
  }
}

.main-data {
  padding: 40px;

  @media (max-width: 768px) {
    padding: 24px 20px;
  }

  &__overview {
    margin-top: 24px;
  }

  &__pdf-and-links {
    display: flex;
    justify-content: space-between;
  }
}

.configs {
  display: inline-block;
  width: 50%;
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #1470da;
  cursor: pointer;

  @media (max-width: 768px) {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--tab-active {
    background: #ffffff;
    font-weight: 600;
    border-radius: 12px;
    color: #000000;
    cursor: default;
  }

  .changes-count {
    opacity: 70%;
  }
}

.overview-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &__icons {
    display: flex;
    align-items: center;
  }
}

.overview-icon {
  height: 24px;
  width: 24px;
  margin-left: 12px;
}

.compare-icon {
  height: 26px;
  width: 26px;
}

.overview-bottom {
  display: flex;
  justify-content: flex-start;

  &__name {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
  }

  &--is-modified {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .modified-icon {
    width: 16px;
    height: 16px;
    margin: 3px 0 0 8px;
  }

  .modified-text {
    display: inline-block;
    margin: 5px 0 0 4px;
  }
}

.results-and-btns {
  margin-top: auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1440px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 40px;
    background-color: #fff;
  }

  @media (max-width: 768px) {
    padding: 16px 20px;
    flex-direction: column;
  }
}

.summary-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 768px) {
    margin-bottom: 8px;
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.total {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    margin: 0 15px 2px 0;

    @media (max-width: 768px) {
      margin: 0 8px 0 0;
      font-size: 13px;
    }
  }

  &__value {
    font-size: 24px;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 1;
    }
  }
}

.power {
  display: flex;
  align-items: flex-start;

  &__label {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    margin-right: 8px;
  }

  &__value {
    font-size: 14px;
    font-weight: 400;
  }
}

.main-btns {
  display: flex;
  align-items: center;
  gap: 16px;

  &__btn {
    @media (max-width: 768px) {
      width: 100%;

      button {
        width: 100%;
        justify-content: center;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
}

.hidden-params {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #939597;
  padding-bottom: 16px;
  border-bottom: 1px solid #92b0d2;

  &--compare-active {
    padding-left: 66.6%;
    text-align: left;
    box-sizing: border-box;
  }
}

.main-data__show-all-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4px 0 24px 0;
}

.view-all-text {
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.pdf-button {
  padding: 4px 16px;
  display: flex;
  align-items: center;

  &__text {
    font-size: 15px;
    font-weight: 600;
  }

  &__icon {
    margin-right: 5px;
    height: 16px;
    width: 16px;
  }
}
