.header {
  margin-bottom: 16px;
  padding-bottom: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #92B0D2;
}

.row {
  margin-bottom: 4px;
  padding-bottom: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #DEEBFA;

  &:last-of-type {
    margin-bottom: 0;
    border: none;
  }
}

.lastRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.all {
  margin-top: 16px;
  margin-bottom: 24px;
  width: 100%;
  padding-top: 4px;
  text-decoration: underline;
  border-top: 1px solid #92B0D2;
}