.fields {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.field {
  position: relative;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-bottom: 1px solid #DEEBFA;
}

.fieldSelected {
  .input {
    border-color: #000000;
  }
}

.input {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  border-radius: 50%;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .2s ease;
  }

  &Checked {
    &:before {
      opacity: 1;
    }
  }
}

.hidden {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: #92B0D2;
}

.additional {
  padding-left: 24px;
}

.withAdditional {
  .field {
    border-bottom: none;
  }
}

.additionalTitle {
  margin-bottom: 8px;
}
